body{background-color: rgb(194, 194, 194);}

#olho:hover{
    background-image: url("/imgs/hidden.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
    
}

